<form #ref="ngForm" (ngSubmit)="onSubmit(ref)">
    <div>
        <label for="Name" >Name:</label>
        <input type="text" name="Name" [(ngModel)]="Name" required />
        <span *ngIf="ref.submitted && ref.controls.Name.invalid">Enter the name</span
        >
        Interpolation : {{Name}}
      </div>
      <div>
        <label for="name" >Email:</label>
        <input type="text" name="Email" ngModel required />
        <span *ngIf="ref.submitted && ref.controls.Email.invalid">Enter the Email</span
        >
      </div>
      <button type="submit">submit here</button>
</form>