<div *ngFor="let i of movieslist;let j=index">
<div *ngIf="j==indexvalue">
<h1 [ngStyle]="{'background-color':'blue','margin-top':'100px'}">{{i.name}}</h1>
<h2>{{i.lead}}</h2>
</div>
<div *ngIf="i.lead=='NTR';else alluarjun">
<h1>Young Tiger</h1>
</div>
<ng-template #alluarjun>
<div *ngIf="i.lead=='alluarjun';else favmovie">
    <h1>Stylish star</h1>
</div>
<ng-template #favmovie>
    <div *ngIf="i.name=='charlie';else kgf">
        <h2>My fav movie is charlie</h2>
    </div>
    <ng-template #kgf><h2 [ngClass]="'B'">KGF2</h2></ng-template>
</ng-template>
</ng-template>
</div>
