<form [formGroup]="myform">
<div>
    <label>name</label>
    <input type="text" id="name" formControlName="name">
    <span *ngIf="myform.controls.name.invalid && myform.controls.name.touched">Please enter valid name</span>
</div>
<div>
    <label>name</label>
    <input type="text" id="email" formControlName="email">
    <span *ngIf="myform.controls.email.invalid && myform.controls.email.touched">Please enter valid email</span>
</div>
<button type="submit" [disabled]="!myform.valid" (click)="displayform()">Submit form</button>
</form>
<div *ngFor="let i of formslist">
    <h1>{{i.name}} {{i.email}}</h1>
</div>