<h1>Hello this is practice</h1>
<div *ngFor="let i of names">
    <h1>{{i}}</h1>
</div>
<div *ngFor="let i of movieslist;let j=index">
<button (click)="sendmessage(j)" routerLink="/comp2">
    {{i.name}}<br>
    {{i.lead}}
</button>
</div>